<footer>
    <div class="cc__footer___wrapper container">
        <div class="cc__footer___left_element">
            <% if (cc.theme.logo) { %>
                <a href="/">
                    <img src="<%= cc.theme.logo %>" width="90px" />
                </a>
                <% } %>

                    <div>
                        <p><b>
                                <%= cc.store.name %>
                            </b> © 2023</p>
                        <p>Não somos afiliados a Rockstar Games.</p>
                    </div>
        </div>

    </div>
</footer>